* {
  margin: 0;
  font-family: "Catamaran";
  font-size: 18px;
  color: var(--black);
  padding: 0;
}

:root {
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --regular: 400;
  --light: 300;
  --extra-light: 200;

  --hero-title: clamp(32px, 3.1vw, 60px);
  --title-news: clamp(25px, 2.5vw, 48px);
  --arrow: clamp(15px, 1.5vw, 30px);
  --title-content: clamp(20px, 1.9vw, 38px);
  --title-section: clamp(13px, 1.3vw, 25px);
  --text-departement: clamp(10px, 1vw, 20px);
  --text-content: clamp(9px, 0.9vw, 18px);
  --text-button: clamp(8px, 0.83vw, 16px);
  --figtree: "Figtree", sans-serif;
  --catamaran: "Catamaran", sans-serif;
  --poppins: "Poppins", sans-serif;

  --white: rgba(255, 255, 255);
  --dark-liver: rgba(78, 77, 85);
  --black: rgba(51, 51, 51);
  --green: rgba(17, 119, 101);
  --orange: rgba(237, 79, 24);
  --blue: rgba(56, 90, 234);
  --text-color: #1e1e1e;
  --blue-background: rgba(40, 57, 72);
  --light-gray: rgba(248, 248, 248);

  --footer: #333333;
  --footer-callout: #4e4d55;
  --footer-callout-btn: #117765;
}

body {
  width: 100%;
}

header {
  width: 75%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
}

content {
  width: 75%;
  display: block;
  margin: 150px auto 0;
}

background {
  background-color: var(--light-gray);
  width: 83.3%;
  display: block;
  margin: 4% auto 0;
  border-radius: 20px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  column-gap: 70px;
}

.nav-links a {
  font-family: "Figtree";
  font-weight: 400;
  font-size: 25px;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 11px;
  border-bottom: 3px solid transparent;
}

.locale,
.locale a {
  font-family: "Figtree";
  font-weight: 400;
  font-size: 25px;
  text-decoration: none;
  padding-bottom: 15px;
}

.orange {
  color: var(--orange);
}

.nav-links a:hover {
  color: var(--orange);
  border-bottom: var(--orange) 3px solid;
}

.default {
  color: var(--black);
}

.title-section {
  font-size: var(--title-section);
  font-family: var(--figtree);
  color: var(--orange);
  text-transform: capitalize;
  font-weight: var(--medium);
}

.title-banner {
  font-size: var(--hero-title);
  font-family: var(--figtree);
  font-weight: var(--bold);
  margin-top: 2%;
}

.text-banner {
  float: right;
  margin-top: 6.5%;
  margin-right: 6%;
  line-height: 1.8;
  font-size: var(--text-content);
  font-weight: var(--regular);
}

.title-team {
  font-size: var(--title-content);
  color: var(--white);
  font-family: var(--figtree);
  font-weight: var(--medium);
  text-align: center;
  margin-bottom: 8% !important;
}

p {
  line-height: normal !important;
}

/* SECTION 1 */
.about-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-about {
  width: 48%;
}

.box-about-2 {
  width: 41.1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}

.double-button {
  display: flex;
  float: left;
  justify-content: start;
  flex-direction: row;
  column-gap: 40px;
}

.double-button a,
.double-button-home a {
  padding: 18px 25px;
  color: var(--orange);
  border: 3px solid var(--orange);
  border-radius: 20px;
  text-transform: capitalize;
  font-family: var(--figtree);
  font-weight: var(--semi-bold);
  font-size: var(--text-button);
}

.hover-map {
  display: flex;
  justify-content: space-between;
  padding: 3% 0;
  border-top: 3px solid #d1d1d1;
  position: relative;
  margin-top: 8.5%;
}

.hover-box {
  width: 21.5%;
}

.dot {
  width: 1.5vw;
  height: 1.5vw;
  max-width: 32px;
  max-height: 32px;
  background-color: #d1d1d1;
  position: absolute;
  top: -6%;
  border-radius: 100px;
}

.hover-title {
  font-size: var(--title-section);
  font-family: var(--figtree);
  font-weight: var(--semi-bold);
  color: #1e1e1e;
}

.hover-text {
  font-weight: var(--regular);
  margin-top: 9%;
}

/* SECTION 2 */

.section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8% 0;
}

.section-2 img {
  width: 32.8%;
  height: 100%;
}
.box-section-2 {
  width: 60.3%;
}
.title-content-about {
  margin-top: 1%;
  font-size: var(--title-content);
  font-family: var(--figtree);
  color: var(--black);
  font-weight: var(--medium);
  margin-bottom: 4%;
}

.text-content-about {
  /* margin-top: 3%;   */
  width: 100%;
}

.point,
.point-3 {
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin-top: 3%;
}

.box-point {
  width: 44.8%;
}

.box-point-content {
  display: flex;
  gap: 2%;
}

.box-point-content img {
  width: 5%;
  display: block;
  height: fit-content;
  align-self: center;
}

.btn-learn {
  background-color: var(--orange);
  color: var(--white);
  font-size: var(--text-button);
  font-family: var(--figtree);
  font-weight: var(--bold);
  padding: 18px 25px;
  border-radius: 20px;
  margin-top: 4.5%;
  width: 10%;
  display: ruby-text;
}

/* SECTION 3 */
.section-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 7% 0; */
}

.box-section-3 {
  width: 44.4%;
  height: 100%;
}

.section-3-img {
  width: 48.6%;
  height: 100%;
  margin-top: 3.5%;
}

.box-point-3 {
  width: 60%;
}

.text-content-about-2 {
  margin-top: 5%;
  width: 100%;
}

.point-3 {
  margin-top: 5%;
}

/* Team Section or SECTION 4*/
.team-section {
  margin: 3.8% 0;
  background-color: var(--blue-background);
  padding: 5% 0;
}

.team-member {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -3%;
}

.box-team {
  width: 22.5%;
  height: 100%;
}

.box-team img {
  width: 100%;
}

.title-member {
  font-size: var(--title-section);
  color: var(--white);
  font-family: var(--figtree);
  font-weight: var(--medium);
  margin: 3% 0 5%;
}

.title-departement {
  /* font-size: var(--text-departement); */
  font-family: var(--catamaran);
  font-weight: var(--regular);
  color: var(--white);
  margin-bottom: 15% !important;
}

/* Our Vision */
.our-vision {
  padding: 6.5% 0 2%;

  width: 90%;
  display: block;
  margin: auto;
}

.vision-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2%;
}



.box-vision {
  width: 43.7%;
}

.box-vision-2 {
  width: 49.3%;
}

.box-vision-2 img{
  width: 100%;
}

.vision-title {
  font-size: var(--title-content);
  font-weight: var(--semi-bold);
  font-family: var(--figtree);
  width: 80%;
}

.vision-text{
  margin-top: 1%;
}

.vision-text-2{
  width: 100%;
}

.vision-section {
  margin-bottom: 5%;
  color: var(--orange);
  font-size: var(--title-section);
  font-family: var(--figtree);
  font-weight: var(--medium);
}

/* Our Commitment */
.our-commitment-title {
  font-family: var(--figtree);
  font-size: var(--title-section);
  font-weight: var(--medium);
  color: var(--orange);
  margin-top: 6.5%;
}


.our-commitment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 3.5%;
  margin-top: 2.5%;
}

.box-commitment {
  width: 30.9%;
  padding: 2%;
  border-radius: 20px;
}

.title-content-comitment {
  font-size: var(--title-section);
  font-family: var(--figtree);
  font-weight: var(--medium);
  margin: 4% 0 7.5%;
}

.custom-nav-blue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1%;
  margin-top: 3%;
}

/* footer */
.footer-connect-wrapper{
  display:  none;
}

.footer-links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.terms-wrap{
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  column-gap: 30%;
  padding-bottom: 5%;
}

footer {
  width: 100%;
  background-color: var(--footer);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer p {
  color: var(--white);
}

.footer-callout {
  width: 75%;
  margin: 0 auto;
  padding-top: 100px;
}

.footer-callout-wrapper {
  background-color: var(--footer-callout);
  border-radius: 20px;
  padding: 90px 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-callout-logo {
  width: 117px;
  height: 117px;
}

.footer-callout-label {
  font-family: "Figtree";
  font-size: 38px;
  font-weight: 500;
  color: var(--white);
  width: 70%;
}

.footer-callout-btn button {
  background-color: var(--footer-callout-btn);
  padding: 18px 24px;
  border-radius: 20px;
  border: none;
  font-family: "Figtree";
  font-weight: 700;
  font-size: 16px;
  color: var(--white);
}

.footer-line {
  width: 72.2%;
  border-bottom: 3px var(--white) solid;
  padding: 103px 0 0;
  margin: 0 auto;
}

.footer-navigation {
  width: 75%;
  margin: 0 auto;
  padding: 100px 0 0px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-a {
  width: 20.5%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.footer-label {
  font-family: "Catamaran";
  font-weight: 600;
  color: var(--orange);
  font-size: 25px;
}

.footer-b {
  width: 58.4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-menu-wrapper a {
  font-size: 18px;
  color: var(--white);
  text-decoration: none;
  line-height: 40px;
}

.footer-menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-navigation-wrapper,
.footer-address-warpper,
.footer-browse-wrapper,
.footer-group-wrapper,
.footer-explore-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  
}

.footer-navigation-wrapper, .footer-explore-wrapper{
  width: 18.6%;
}

.footer-address-warpper{
  width: 14.2%;
}

.footer-browse-wrapper{
  width: 11.8%;
}

.footer-group-wrapper{
  width: 13.8;
}

.social-media-icons-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 140px 0;
}



/* MOBILE */
@media (min-width: 360px) and (max-width: 640px) {
  * {
    margin: 0;
    font-family: "Catamaran";
    font-size: 14px;
    color: var(--black);
    padding: 0;
  }
  :root {
    --hero-title: clamp(24px, 6.6vw, 42px);
    --title-news: clamp(24px, 6.6vw, 42px);
    --title-content: clamp(24px, 6.6vw, 42px);
    --title-section: clamp(18px, 0vw, 27px);
    --text-departement: clamp(14px, 3.8vw, 124px);
    --text-content: clamp(14px, 3.8vw, 24px);
    --text-button: clamp(12px, 2.7vw, 17px);
  }
  
  /* .nav-links, .locale{
    display: none;
  } */

  header{
    width: 80.5%;
    padding-top: 25px;
  }

  /* .logo-wrapper{
    width: 32.7%;
  }

  .logo-wrapper img{
    width: 100%;
  } */

  content {
    width: 80.5%;
    display: block;
    margin: 45px auto 0;  
  }

  /* Navigation Start */
  .locale-mobile,
  .nav-toggle {
      display: none;
  }

  body {
      margin: 0;
      padding: 0;
  }

  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 30px;
      width: 75%;
      margin: 0 auto;
      background-color: #fff;
  }

  .logo-wrapper img {
      max-height: 40px;
  }

  .nav-toggle {
      display: none;
  }

  .nav-toggle-label {
      display: block;
      cursor: pointer;
      position: relative;
      z-index: 1001;
      order: 3;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
      display: block;
      background: #333;
      height: 2px;
      width: 25px;
      position: relative;
      transition: all 0.3s ease-in-out;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
      content: '';
      position: absolute;
  }

  .nav-toggle-label span::before {
      bottom: 7px;
  }

  .nav-toggle-label span::after {
      top: 7px;
  }

  .nav-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(244, 244, 244, 0.95);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s;
      z-index: 999;
  }

  .nav-links {
      position: fixed;
      top: 5%;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s;
      z-index: 1000;
      width: 38%;
  }

  .nav-toggle:checked ~ .nav-background,
  .nav-toggle:checked ~ .nav-links {
      opacity: 1;
      visibility: visible;
  }

  .nav-toggle:checked ~ .nav-toggle-label span {
      background: transparent;
  }

  .nav-toggle:checked ~ .nav-toggle-label span::before {
      transform: rotate(45deg);
      top: 0;
  }

  .nav-toggle:checked ~ .nav-toggle-label span::after {
      transform: rotate(-45deg);
      top: 0;
  }

  .nav-links a {
      text-decoration: none;
      color: #333;
      font-size: 1.2rem;
      text-transform: uppercase;
  }

  .nav-links .locale {
      display: block;
      margin-top: 1.5rem;
  }

  .locale {
      display: none;
  }
  
  .locale-mobile {
      display: block;
  }

  .locale-mobile a {
      text-decoration: none;
  }

  .locale-mobile .orange {
      color: orange;
  }

  .locale-mobile .default {
      color: #333;
  }

/* Navigation End */

  /* SECTION 1 MOBILE */
  .about-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .box-about, .box-about-2 {
    width: 100%;
  }

  .box-about-2{
    row-gap: 25px;
  }
.text-banner {
  margin-top: 10%;
  margin-right: 6%;
  font-size: var(--text-content);
  font-weight: var(--regular);
  line-height: 1.5 !important;
  }

  .double-button {
    column-gap: 15px;
  }
  .double-button a, .double-button-home a {
    padding: 12px 17px;
    border: 2px solid var(--orange);
    border-radius: 10px;
  }


  /* Hover Map */
  .hover-map {
    padding: 0 0;
    flex-direction: column;
    border-top: none; */
    position: none;
    margin-top: 20%;
    border-left: 2px solid #d1d1d1;
  }

  .hover-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 7%;
    margin-bottom: 10%;
  }

  .dot {
    width: 23.5vw;
    height: 7.5vw;
    max-width: 41px;
    max-height: 28px;
    position: unset;
    margin-left: -5%;
  }

  .hover-text {
    width: 92%;
    line-height: 1.5 !important;
  }

  /* SECTION 2 */

  .section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3% 0;
  }

  .section-2 img {
    width: 100%;
    height: 100%;
  }

  .box-section-2 {
    width: 100%;
    margin-top: 10%;
  }

  .title-content-about {
    margin-top: 4%;
    margin-bottom: 7%;
  }

  .text-content-about {
    width: 92%;
    line-height: 1.43 !important;
  }

  .point, .point-3 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-top: 7.5%;
  }

  .box-point {
    width: 100%;
  }

  .box-point-content img {
    width: 5%;
    display: block;
    height: fit-content;
    align-self: center;
  }

  .box-point-content {
    display: flex;
    gap: 4%;
    margin-bottom: 1%;
  }

  .btn-learn {
    background-color: var(--orange);
    color: var(--white);
    font-size: var(--text-button);
    font-family: var(--figtree);
    font-weight: var(--bold);
    padding: 15px 17px;
    border-radius: 10px;
    margin-top: 10%;
    width: 10%;
    display: ruby-text;
  }


  /* SECTION 3 */
  .section-3 {
    flex-direction: column-reverse;
  }

  .section-3-img {
    width: 100%;
    height: 100%;
    margin-top: 5.5%;
  }

  .box-section-3 {
    width: 100%;
    height: 100%;
  }

  .text-content-about-2 {
    margin-top: 5%;
    width: 91.5%;
    line-height: 1.45 !important;
  }

  .box-point-3{
    width: 100%;
    height: 100%;
  }


  /* SECTION 4 */
  .team-section {
    margin: 7% 0;
    padding: 14% 0;
  }
  .title-team {
    font-size: var(--title-content);
    color: var(--white);
    font-family: var(--figtree);
    font-weight: var(--medium);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 8% !important;
    width: 63.5%;
  }
  .team-member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -5%;
  }

  .box-team {
    width: 47.2%;
    height: 100%;
  }

  .title-member {
    margin: 3% 0 3%;
  }

  .title-departement {
    font-size: var(--text-button);
  }


  /* OUR VISION */
  background {
    width: 89.1%;
    border-radius: 10px;
    margin: 3% auto 0;
  }
  .vision-content {
    flex-direction: column;
  }

  .box-vision, .box-vision-2{
    width: 100%;
  }

  .vision-title {
    font-size: var(--title-content);
    font-weight: var(--semi-bold);
    font-family: var(--figtree);
    width: 100%;
  }
  
  .vision-text-2 {
    margin-top: 7%;
    line-height: 1.43 !important;
    width: 92%;
    font-size: var(--text-content);
  }

  .vision-section {
    margin : 10% 0 9%;
  }

  .box-vision-2{
    margin-top: 10%;
  }

  /* OUR COMMITMENT */
  .our-commitment-title {
    margin-top: 10%;
  }

  .our-commitment {
    display: flex;
    flex-direction: column;

  }

  .box-commitment {
    width: 100%;
    padding: 0;
    margin-top: 5%;
  }

  .box-commitment img{
    width: 100%;
    height: 100%;
  }

  .title-content-comitment {
    font-size: var(--title-section);
    font-family: var(--figtree);
    font-weight: var(--medium);
    margin: 4% 0 5%;
  }

  .commitment-desc{
    line-height: 1.45 !important;
  }


  /* FOOTER */
  footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .footer-callout {
    width: 89.1%;
    margin: 0 auto;
    padding-top: 33px;
  }

  .footer-callout-wrapper {
    border-radius: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer-callout-logo {
    width: 19.3%;
    height: 100%;
    margin-top: 9%;
  }
  
  .footer-callout-logo img{
    width: 100%;
    height: 100%;
  }

  .footer-callout-label {
    font-family: var(--figtree);
    font-size: var(--title-section);
    font-weight: var(--medium);
    color: var(--white);
    width: 90.3%;
    text-align: center;
    margin-top: 8%;
  }

  .footer-callout-btn{
    margin-top: 9.5%;
    margin-bottom: 9%;
  }

  .footer-callout-btn button {
    background-color: var(--footer-callout-btn);
    padding: 15px 17px;
    border-radius: 10px;
    border: none;
    font-family: var(--figtree);
    font-weight: var(--bold);
    font-size: 12px;
    color: var(--white);  
  }

  .footer-line {
    width: 89.1%;
    border-bottom: 2px var(--white) solid;
    padding: 30px 0 0;
    margin: 0 auto;
  }

  .footer-navigation {
    flex-direction: column;
    padding: 30px 0 0px 0;
    width: 80.5%;
  }

  .footer-a {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .footer-logo-wrapper{
    width: 53.8%;
    align-self: center;

  }
  
  .footer-logo-wrapper img{
    width: 100%;
    height: 100%;
  }
  
  .footer-label {
    font-family: var(--figtree);
    font-weight: var(--semi-bold);
    color: var(--orange);
    font-size: 14px;
  }

  .footer-social-media-wrapper{
    display: none;
  }

  .social-media-icons-footer{
    width: 8%;
    column-gap: 100%;
    padding: 10px 0 0px 0;
    
  }

  .social-media-icons-footer img{
    width: 100%;
  }


  .footer-b {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;

  }

  .footer-menu-wrapper {
    flex-wrap: wrap;
  }

  .footer-navigation-wrapper, .footer-browse-wrapper, .footer-explore-wrapper{
    width: 42.7%;
  }

  .footer-address-warpper, .footer-group-wrapper, .footer-connect-wrapper{
    width: 47.5%;
  }

  .footer-links{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5%;
  }

  .footer-navigation-wrapper a, .footer-browse-wrapper a, .footer-explore-wrapper a {
    font-size: 14px;
    color: var(--white);
    text-decoration: none;
    line-height: 15px;
    margin-bottom: 8%;
  }

  .footer-browse-wrapper, .footer-group-wrapper, .footer-explore-wrapper, .footer-connect-wrapper{
    margin-top: 4%;
  }
  
  .footer-address-warpper a, .footer-group-wrapper a, .footer-connect-wrapper a{
    font-size: 14px;
    color: var(--white);
    text-decoration: none;
    line-height: 14px;
    margin-bottom: 8%;
  }

  .terms-wrap{
    text-align: center;
    margin-top: 10%;
    padding-bottom: 12%;
    flex-direction: column;
  }

  .copy-right{
    margin-top: 3%;
  }
}